@import "reset.css";
body {
  font-family: "Ubuntu", sans-serif;
}

.wrapper {
  background-color: #000;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 18px 80px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.5s ease-in-out;
}

.register__form {
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.register__form::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 19px;
  background-color: #828282;
  margin-right: 27px;
  vertical-align: middle;
}

.log-in,
.sign-up {
  color: #fff;
  transition: color 0.5s ease-in-out;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  margin-right: 25px;
  display: inline-block;
  width: 23px;
}

.log-in:hover,
.sign-up:hover,
.logo:hover {
  color: #236d47;
}

.navigation__link:hover .calendar__svg,
.navigation__link:hover .envelope__svg,
.navigation__link:hover .compass__svg {
  fill: #236d47;
}

.calendar__svg,
.envelope__svg,
.compass__svg {
  transition: fill 0.5s ease-in-out;
}

.main__container {
  position: absolute;
  width: 444px;
  background-color: #fff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  top: calc(50% + 28px);
  min-height: 584px;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  margin: 0 auto;
  padding: 29px 60px 38px;
}

.log-in__form {
  color: #3cb878;
  font-size: 14px;
  line-height: 14px;
  transition: 0.5s ease-in-out;
  margin-left: 210px;
}

.log-in__form:hover {
  color: #01813f;
  text-decoration: underline;
}

.sign-up__form {
  color: #434343;
  font-size: 20px;
  line-height: 20px;
}

.decor__element {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}

.form {
  margin-top: 15px;
}

.button__container {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.facebook__btn,
.google__btn {
  border: 1px solid #fff;
  transition: background-color 0.3s ease-in-out;
  width: 160px;
  height: 48px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook__btn {
  background-color: #305db8;
  padding: 0 22px 0 17px;
}

.google__btn {
  background-color: #df4a32;
  padding: 0 27px 0 12px;
}

.facebook__btn:active {
  box-shadow: 0px 5px 12px rgba(2, 40, 255, 0.35);
  border: 1px solid #fff;
}

.google__btn:active {
  border: 1px solid #fff;
  box-shadow: 0px 5px 12px rgba(202, 0, 0, 0.35);
}

.facebook__btn:hover {
  background-color: #022263;
}

.google__btn:hover {
  background-color: #ab1f09;
}

.facebook,
.google {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
}

.facebook__btn::before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background-color: #0a162f;
  opacity: 0.1;
  position: absolute;
  left: 48px;
  top: 10px;
}

.google__btn::before {
  content: "";
  display: block;
  width: 1px;
  height: 28px;
  background-color: #2b0d09;
  opacity: 0.1;
  position: absolute;
  left: 49px;
  top: 10px;
}

.or__container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 14px;
  margin: 30px 0 10px;
}

.or__container::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  top: calc(70% - 1px);
}

.or__text {
  font-size: 14px;
  color: #848484;
  background-color: #fff;
  position: absolute;
  padding: 0px 4px;
}

.input {
  width: 324px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 16px 20px;
  color: #000;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
}

.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox__input,
.checkbox__input__link {
  font-size: 14px;
  line-height: 14px;
  user-select: none;
}

.checkbox__input {
  color: #434343;
  cursor: pointer;
}

.checkbox__input__link {
  color: #3cb878;
  transition: 0.5s ease-in-out;
}

.checkbox__input__link:hover {
  color: #01813f;
  text-decoration: underline;
}

.submit {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 0;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.submit:hover {
  background-color: #01813f;
}

.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + .checkbox__input,
.checkbox:not(:checked) + .checkbox__input {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 28px;
  line-height: 16px;
}

.checkbox:checked + .checkbox__input::before,
.checkbox:not(:checked) + .checkbox__input::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
}

.checkbox:checked + .checkbox__input::after,
.checkbox:not(:checked) + .checkbox__input::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 4px;
  top: 4px;
  width: 10px;
  height: 7px;
  border-radius: 1px;
  border-left: 3px solid #3cb878;
  border-bottom: 3px solid #3cb878;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox:not(:checked) + .checkbox__input::after {
  opacity: 0;
}
.checkbox:checked + .checkbox__input::after {
  opacity: 1;
}
